build/*
*/Debug/*
*/Release/*
*/x64/*

*.o
*.obj
*.exe
*.json

.vs/*
*/ipch/*
*.opensdf
*.log
*.pdb
*.ipch
*.ipdb
*.iobj
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb
*.log
*.tlog
*.lastbuildstate

*.~*
*.*~

*.aac
*.mp3
